@media screen and (max-width:1800px){
    #projects .holder .myProjects{
        padding-top: 75px;
    }
    #projects .holder .myProjects .gm,#projects .holder .myProjects .gm2{
            margin-top: 0px;
        } 
    }
@media  screen and (max-width: 1769px){
    #projects .holder .myProjects .gm2{
        margin-top: 50px;
    } 
}
    

@media screen and (max-width:1680px){
    .wrap{
        width:80%;
        main{
            width:80%;
        }
    }
}
@media screen and (max-width:1400px){
    .flexx section{
        width:60%;
    }
}
@media screen and (max-width:1315px){
    #Experience .flex3 .two-containers{
        width:100%;
    }
    #Experience .flex3 .two-containers .container{
        width:430px;
    }
    .flex3{
        width:100%;
    }
    .flexy{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flexy main{
        padding: 20px 0px;
        width:50%;
        text-align: center;
    }
    main .mojaSlika{
        display: none;
    }
    #pozadina{
        height: 750px;
    }
    .flexx section{
        top:680px;
    }
}
@media screen and (max-width:1180px){
    #pozadina2 #pozadina header .flex1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #projects .holder .myProjects .gm{
        margin-top: 50px;
        margin-left:0px;
        margin-right: 0px;
    }
    #pozadina2 #Contact .flex4{
        display: flex;
        flex-direction: column;
        width:100%;
    } 
    #pozadina2 #Contact .flex4 .form form #sbm{
        display: block;
        margin: 40px auto;
        text-align: center;
    }
    #pozadina2 #Contact .flex4 .form{
        margin-right: 0px;
    }
    #buton{
        text-align: center;
    }

}
@media screen and (max-width:1040px) {
    .flexx section{
        width:80%;
    }
}
@media screen and (max-width:970px){
    #Services .wrap .container-services article{
        width:250px;
    }
    .flex1{
        width: 100%;
    }
    header .flex1 nav ul li{
        font-size: 18px;
    }
    header .flex1 nav ul .li-contact{
        margin-right: 0px;
    } 
    header .flex1 nav ul .li-home{
        margin-left: 40px;
    } 
}
@media screen and (max-width:905px){
    #Experience .flex3 .two-containers{
        display: flex;
        flex-direction: column;
    }
    #Experience .flex3 .two-containers .container2{
        margin-top:35px;
    }
}
@media screen and (max-width:800px){
    #about-me .flex2{
        display: flex;
        flex-direction: column;
    }
    #about-me .flex2 .mojaSlika2{
        margin: 20px 0px;
    }
    #pozadina2 #Contact .flex4 .form{
        width:90%;
    }
    .flexy main{
        padding: 20px 0px;
        width:80%;
        text-align: center;
    }
    .flexx section{
        width:95%;
    }

}
@media screen and (max-width:663px){
    .flexx section .pdr{
        width:95%;
        width: 200px;
         padding: 0px 10px;
    }
}
@media screen and (max-width:500px){
    #Experience .flex3 .two-containers .container{
        width:80%;
        padding: 35px 20px 20px 20px;
    }
    #Experience .flex3 .two-containers .container h2{
        font-size: 24px;
        text-align: center;
    }
    .flexy main{
        padding: 20px 0px;
        width:90%;
        text-align: center;
    }
    .flex2 .aboutme-tekst{
        width:100%;
    }
}
@media screen and (max-width:390px){
    header .flex1 nav ul .li-experience{
        margin-left: 40px;
    } 
}