@media screen and (max-width:1800px){
    #projects .holder .myProjects{
        padding-top: 75px;
    }
    #projects .holder .myProjects .gm,#projects .holder .myProjects .gm2{
            margin-top: 0px;
        } 
    }
@media  screen and (max-width: 1769px){
    #projects .holder .myProjects .gm2{
        margin-top: 50px;
    } 
}
    

@media screen and (max-width:1680px){
    .wrap{
        width:80%;
        main{
            width:80%;
        }
    }
}
@media screen and (max-width:1400px){
    .flexx section{
        width:60%;
    }
}
@media screen and (max-width:1315px){
    #Experience .flex3 .two-containers{
        width:100%;
    }
    #Experience .flex3 .two-containers .container{
        width:430px;
    }
    .flex3{
        width:100%;
    }
}
@media screen and (max-width:1180px){
    #pozadina2 #pozadina header .flex1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #projects .holder .myProjects .gm{
        margin-top: 50px;
        margin-left:0px;
        margin-right: 0px;
    } 

}
@media screen and (max-width:970px){
    #Services .wrap .container-services article{
        width:250px;
    }
}
@media screen and (max-width:905px){
    #Experience .flex3 .two-containers{
        display: flex;
        flex-direction: column;
    }
    #Experience .flex3 .two-containers .container2{
        margin-top:35px;
    }
}