@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans";
  scroll-behavior: smooth;
}

.wrap {
  width: 70%;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #fbeaff;
}

ul li {
  list-style-type: none;
}

#pozadina {
  position: relative;
  height: 1070px;
}
#pozadina .pozadinaVideo {
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .flex1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .flex1 #logo {
  width: 147px;
}
header .flex1 #logo img {
  width: 147px;
}
header .flex1 nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
header .flex1 nav ul li {
  font-size: 22px;
}
header .pozadinaVideo {
  position: absolute;
  z-index: -1;
}

main {
  width: 70%;
  position: absolute;
  top: 250px;
  border-radius: 24px;
  background: rgba(25, 0, 64, 0.5);
  color: #fbeaff;
  padding: 0px 20px;
  box-shadow: 0px 0px 25px 0px black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main .tekst h1 {
  margin: 15px 0px;
  font-size: 40px;
}
main .tekst h2 {
  font-size: 28px;
  font-weight: 650;
}
main .tekst p {
  margin: 12px 0px;
  font-weight: 380;
}
main .mojaSlika img {
  width: 100%;
}

.flexx {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.flexx section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
  position: absolute;
  top: 1020px;
  background: linear-gradient(#fbeaff -1000px, #190040);
  border-radius: 34px;
  padding: 15px 20px;
  color: #fbeaff;
  box-shadow: 0px 0px 25px 0px black;
}
.flexx section article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 20%;
}
.flexx section article h4 {
  color: #00c9a7;
}
.flexx section .pdr {
  width: 250px;
  padding: 0px 45px;
  border-right: 1px solid #00c9a7;
  border-left: 1px solid #00c9a7;
}
.flexx section .pdr2 {
  width: 180px;
}
.flexx section .pdr3 {
  width: 150px;
}

#pozadina2 #Contact .flex4 .form form #sbm, main .tekst a, header .wrap nav ul li a {
  margin-right: 24px;
  border: 1px solid black;
  padding: 9px 25px;
  border-radius: 20px;
  font-weight: 500;
  transition: 0.4s all;
}

header .wrap nav ul li {
  margin-right: 40px;
}
header .wrap nav ul li a {
  border: none;
  padding: 0px;
  margin: 0px;
}
header .wrap nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #00c9a7;
  margin: 0px auto;
}
header .wrap nav ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #00c9a7;
  margin: 0px auto;
  transition: 0.2s all;
}

main .tekst a {
  background-color: #190040;
  color: #00c9a7;
}
main .tekst a:hover {
  background-color: #00c9a7;
  color: #190040;
}
main .tekst .contact-btn {
  background-color: #00c9a7;
  color: #190040;
}
main .tekst .contact-btn:hover {
  background-color: #190040;
  color: #00c9a7;
}

#about-me {
  color: #fbeaff;
  padding: 50px 0px;
  padding-top: 90px;
}

.flex2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.flex2 .mojaSlika2 {
  width: 260.217px;
  position: relative;
  margin-right: 100px;
}
.flex2 .mojaSlika2 img {
  width: 283.217px;
}
.flex2 .mojaSlika2:after {
  position: absolute;
  content: "";
  bottom: -15px;
  right: -15px;
  width: 30%;
  height: 40%;
  border-right: 3px solid #00c9a7;
  border-bottom: 3px solid #00c9a7;
}
.flex2 .mojaSlika2:before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 30%;
  height: 40%;
  border-left: 3px solid #00c9a7;
  border-top: 3px solid #00c9a7;
}
.flex2 .aboutme-tekst {
  width: 70%;
}
.flex2 .aboutme-tekst h2 {
  font-size: 32px;
}
.flex2 .aboutme-tekst p {
  padding: 10px 0px;
}
.flex2 .aboutme-tekst .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex2 .aboutme-tekst .info .fa-lg {
  margin-right: 10px;
}
.flex2 .aboutme-tekst .interest h3 {
  color: #00c9a7;
  margin: 30px 0px 10px 0px;
}
.flex2 .aboutme-tekst .interest .mojiInteresti {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.flex2 .aboutme-tekst .interest .mojiInteresti .int {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 60px;
}
.flex2 .aboutme-tekst .interest .mojiInteresti .int .fa-solid {
  color: #00c9a7;
  margin-right: 10px;
}

#Experience {
  background-color: rgba(25, 0, 64, 0);
  color: #fbeaff;
  padding: 150px 0px;
}
#Experience .flex3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
#Experience .flex3 h1 {
  margin-top: 8px;
  margin-bottom: 90px;
}
#Experience .flex3 h1:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00c9a7;
  display: block;
  margin-top: 10px;
}
#Experience .flex3 p {
  color: #00c9a7;
}
#Experience .flex3 .two-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#Experience .flex3 .two-containers .container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid black;
  border-radius: 24px;
  background: linear-gradient(to right, #fbeaff -2800px, #190040);
  box-shadow: 0px 0px 25px 0px black;
  padding: 20px;
  height: 400px;
}
#Experience .flex3 .two-containers .container h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
#Experience .flex3 .two-containers .container .small-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#Experience .flex3 .two-containers .container .small-containers article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px 30px;
}
#Experience .flex3 .two-containers .container .small-containers article .fa-xl {
  color: #00c9a7;
}
#Experience .flex3 .two-containers .container .small-containers article .in-container {
  margin-left: 10px;
}
#Experience .flex3 .two-containers .container2 {
  background: linear-gradient(to left, #fbeaff -2800px, #190040);
}

#Services {
  color: #fbeaff;
  text-align: center;
  padding: 100px 0px;
}
#Services .wrap h2 {
  font-size: 30px;
  margin-bottom: 50px;
  color: #fbeaff;
}
#Services .wrap h2:after {
  content: "";
  width: 11%;
  height: 2px;
  background-color: #00c9a7;
  display: block;
  margin: 0px auto;
  margin-top: 10px;
}
#Services .wrap p {
  color: #00c9a7;
}
#Services .wrap .container-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#Services .wrap .container-services article {
  width: 338px;
  background: linear-gradient(#fbeaff -2600px, #190040);
  margin: 25px;
  padding: 50px 10px;
  box-shadow: 0px 0px 25px 0px black;
}
#Services .wrap .container-services article .fa-2xl {
  padding: 40px 25px;
  background-color: #00c9a7;
  border-radius: 50%;
}
#Services .wrap .container-services article .fa-lightbulb {
  padding: 40px 28px;
  background-color: #00c9a7;
  border-radius: 50%;
}
#Services .wrap .container-services article .fa-code {
  padding: 40px 23px;
  background-color: #00c9a7;
  border-radius: 50%;
}
#Services .wrap .container-services article h3 {
  margin-top: 30px;
}

#projects {
  background-color: rgba(25, 0, 64, 0);
  padding: 50px 0px 100px 0px;
}
#projects .holder p {
  text-align: center;
  color: #00c9a7;
}
#projects .holder h2 {
  text-align: center;
  color: #fbeaff;
}
#projects .holder h2:after {
  content: "";
  width: 7.5%;
  height: 2px;
  background-color: #00c9a7;
  display: block;
  margin: 0px auto;
  margin-top: 10px;
}
#projects .myProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 24px;
  margin-bottom: 50px;
}
#projects .myProjects p {
  color: #fbeaff;
}
#projects .myProjects .project {
  width: 570.9px;
  padding: 0px 10px;
}
#projects .myProjects .project img {
  width: 100%;
  box-shadow: 0px 0px 5px 0px #00c9a7;
  border-radius: 24px;
}
#projects .myProjects .project img:hover {
  box-shadow: 0px 0px 30px 0px #00c9a7;
  transition: 0.3s all;
}
#projects .myProjects .project p {
  margin-top: 20px;
  text-shadow: 3px 3px 3px #00c9a7;
}
#projects .myProjects .gm {
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
#projects .myProjects .gm2 {
  margin-top: 120px;
}

#pozadina2 {
  background-image: url("../../img/bg6.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#pozadina2 #Contact {
  color: #fbeaff;
  padding: 100px 0px;
}
#pozadina2 #Contact .flex4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#pozadina2 #Contact .flex4 .form {
  width: 50%;
  margin-right: 50px;
}
#pozadina2 #Contact .flex4 .form p {
  color: #00c9a7;
  text-align: center;
}
#pozadina2 #Contact .flex4 .form h2 {
  font-size: 30px;
  text-align: center;
}
#pozadina2 #Contact .flex4 .form form {
  margin-top: 40px;
}
#pozadina2 #Contact .flex4 .form form #subject {
  width: 100%;
  margin: 20px 0px;
}
#pozadina2 #Contact .flex4 .form form #txtarea {
  resize: none;
  width: 100%;
}
#pozadina2 #Contact .flex4 .form form #firstname, #pozadina2 #Contact .flex4 .form form #txtarea, #pozadina2 #Contact .flex4 .form form #subject, #pozadina2 #Contact .flex4 .form form #email {
  padding-left: 10px;
  background-color: transparent;
  color: #fbeaff;
  border: 1px solid #fbeaff;
  padding: 10px 0px 10px 10px;
  box-shadow: 0px 0px 10px 0px black;
  border-radius: 10px;
}
#pozadina2 #Contact .flex4 .form form #firstname:focus, #pozadina2 #Contact .flex4 .form form #txtarea:focus, #pozadina2 #Contact .flex4 .form form #subject:focus, #pozadina2 #Contact .flex4 .form form #email:focus {
  outline: none;
  box-shadow: 0px 0px 5px #00c9a7;
  transition: 0.1s all;
}
#pozadina2 #Contact .flex4 .form form .name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#pozadina2 #Contact .flex4 .form form .name-email #firstname, #pozadina2 #Contact .flex4 .form form .name-email #email {
  width: 48.3%;
}
#pozadina2 #Contact .flex4 .form form #firstname {
  margin-right: 18px;
}
#pozadina2 #Contact .flex4 .form form #sbm {
  background-color: transparent;
  color: #fbeaff;
  border: 1px solid #00c9a7;
  padding: 10px 25px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
}
#pozadina2 #Contact .flex4 .form form #sbm:hover {
  background-color: #00c9a7;
  color: #fbeaff;
}
#pozadina2 #Contact .flex4 .personal-data .personal-data1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
}
#pozadina2 #Contact .flex4 .personal-data .personal-data1 .fa-solid {
  padding: 25px 13px;
  background-color: #00c9a7;
  border-radius: 50%;
  margin-right: 10px;
  color: #190040;
}
#pozadina2 #Contact .flex4 .personal-data .socials-personal {
  margin-top: 30px;
}
#pozadina2 #Contact .flex4 .personal-data .socials-personal a {
  padding: 13px 13px;
  border: 1px solid #00c9a7;
  border-radius: 50%;
  margin-right: 15px;
  color: #fbeaff;
}
#pozadina2 #Contact .flex4 .personal-data .socials-personal a:hover {
  background-color: #00c9a7;
  transition: 0.4s all;
  color: #190040;
}

footer {
  background-color: #190040;
  color: #fbeaff;
  text-align: center;
  border-top: 1px solid #00c9a7;
  box-shadow: 0px 0px 25px 0px black;
}
footer .wrap .futer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer .wrap .futer1 .logofuter {
  width: 110px;
  margin: 6px 0px;
}
footer .wrap .futer1 .logofuter img {
  width: 110px;
}
footer .wrap .futer1 .socialsfuter {
  margin-bottom: 13px;
}
footer .wrap .futer1 .socialsfuter .fa-solid {
  margin-right: 15px;
}/*# sourceMappingURL=style.css.map */