footer{
    background-color: $bg-color;
    color:$text-color;
    text-align: center;
    border-top: 1px solid $third-color;
    box-shadow: 0px 0px 25px 0px black;
    .wrap{
        .futer1{
            @include pozicioniranje(column,space-evenly,center,wrap);
            .logofuter{
                width:110px;
                margin:6px 0px;
                img{
                    width:110px;
                }
            }
            .socialsfuter{
                margin-bottom: 13px;
                .fa-solid{
                    margin-right: 15px;
                }
            }
        }
    }
}