
#about-me{
    color:$text-color;
    padding: 50px 0px;
    padding-top: 90px;
}
.flex2{
    @include pozicioniranje (row,space-between,center,nowrap);
    .mojaSlika2{
        width:260.217px;
        position: relative;
        margin-right: 100px;
        img{
            width: 283.217px;
        }
        &:after{
            position: absolute;
            content: '';
            bottom: -15px;
            right: -15px;
            width: 30%;
            height: 40%;
            border-right: 3px solid $third-color;
            border-bottom: 3px solid $third-color;
        }
        &:before{
            position: absolute;
            content: '';
            top: 15px;
            left: 15px;
            width: 30%;
            height: 40%;
            border-left: 3px solid $third-color;
            border-top: 3px solid $third-color;
        }
    }
    .aboutme-tekst{
        width:70%;
        h2{
            font-size: 32px;
        }
        p{
            padding: 10px 0px;
        }
        .info{
            @include pozicioniranje(row,flex-start,center);
            .fa-lg{
                margin-right: 10px;
            }
        }
        .interest{
            h3{
                color:$third-color;
                margin: 30px 0px 10px 0px;
            }
            .mojiInteresti{
                @include pozicioniranje(row,flex-start,center);
                .int{
                    .fa-solid{
                        color:$third-color;
                        margin-right: 10px;
                    }
                    @include pozicioniranje(row,flex-start,center);
                    margin-right: 60px;
                }
            }
        }
    }
}
