%btn{
    margin-right: 24px;
    border: 1px solid black;
    padding: 9px 25px;
    border-radius: 20px;
    font-weight: 500;
    transition:0.4s all;
}
header{
    .wrap{
            nav{
                ul{
                    li{
                        margin-right: 40px;
                        a{
                            @extend %btn;
                            border:none;
                            padding: 0px;
                            margin: 0px;
                            &::after{
                                content: "";
                                display: block;
                                width: 0%;
                                height: 2px;
                                background-color: $third-color;
                                margin: 0px auto;
                            }
                            &:hover{
                                &::after{
                                    content: "";
                                    display: block;
                                    width: 100%;
                                    height: 2px;
                                    background-color: $third-color;
                                    margin: 0px auto;
                                    transition: 0.2s all;
                                }
                            }
                        }
                    }
                }
             }
        }
}
main{
    .tekst{
        a{
            @extend %btn;
            background-color: $bg-color;
            color:$third-color;
            &:hover{
                background-color:$third-color;
                color:$bg-color;
            }
        }
        .contact-btn{
            background-color:$third-color;
            color:$bg-color;
            &:hover{
                background-color:$bg-color;
                color:$third-color;
            }
        }
    }
}