#pozadina2{
    background-image:url("../../img/bg6.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    


#Contact{

    color: $text-color;
    padding: 100px 0px;
    .flex4{
        @include pozicioniranje(row,center,center,wrap);
        .form{
            width:50%;
            margin-right: 50px;
            p{
                color:$third-color;
                text-align:center;
            }
            h2{
                font-size: 30px;
                text-align: center;
            }
            form{
                margin-top: 40px;
                #subject{
                    width: 100%;
                    margin: 20px 0px;
                }
                #txtarea{
                    resize: none;
                    width: 100%;
                }
                #firstname,#txtarea,#subject,#email{
                    padding-left: 10px;
                    background-color: transparent;
                    color:$text-color;
                    border: 1px solid $text-color;
                    padding: 10px 0px 10px 10px;
                    box-shadow: 0px 0px 10px 0px black;
                    border-radius: 10px;
                    &:focus{
                            outline:none;
                            box-shadow:0px 0px 5px $third-color;
                            transition:0.1s all;
                    }
                }
                .name-email{
                    @include pozicioniranje(row,space-between,center,nowrap);
                #firstname,#email{
                    width: 48.3%;
                    }
                }
                #firstname{
                    margin-right: 18px;
                }
                #sbm{
                    background-color: transparent;
                    color: $text-color;
                    border:1px solid $third-color; 
                    @extend %btn;
                    padding: 10px 25px;
                    margin-top: 20px;
                    cursor: pointer;
                    font-size: 16px;
                    margin: 20px auto;
                    &:hover{
                        background-color: $third-color;
                        color: $text-color;
                    }
                }
            }
        }
        .personal-data{
            .personal-data1{
                @include pozicioniranje(row,flex-start,center,wrap);
                margin-bottom: 30px;
                width:100%;
                .fa-solid{
                    padding: 25px 13px;
                    background-color: $third-color;
                    border-radius: 50%;
                    margin-right: 10px;
                    color:$bg-color;
                }
            }
            .socials-personal{
                margin-top: 30px;
                a{
                    padding: 13px 13px;
                    border: 1px solid $third-color;
                    border-radius: 50%;
                    margin-right: 15px;
                    color:$text-color;
                    &:hover{
                        background-color: $third-color;
                        transition: 0.4s all;
                        color:$bg-color;
                    }
                }
            }
        }
    }
}
}