
#Services{
    color:$text-color;
    text-align: center;
    padding: 100px 0px;
    .wrap{
        h2{
            font-size: 30px;
            margin-bottom: 50px;
            &:after {
                content:"";
                width:11%;
                height:2px;
                background-color:$third-color;
                display:block;
                margin: 0px auto;
                margin-top: 10px
            }
            color:$text-color;
        }
        p{
            color:$third-color;
        }
        .container-services{
            @include pozicioniranje(row,center,center,wrap);
            article{
                width:338px;
                background:linear-gradient($text-color -2600px,$bg-color);
                margin: 25px;
                padding: 50px 10px;
                box-shadow: 0px 0px 25px 0px black;
                .fa-2xl{
                    padding: 40px 25px;
                    background-color: $third-color;
                    border-radius: 50%;
                }
                .fa-lightbulb{
                    padding: 40px 28px;
                    background-color: $third-color;
                    border-radius: 50%;
                }
                .fa-code{
                    padding: 40px 23px;
                    background-color: $third-color;
                    border-radius: 50%;
                }
                h3{
                    margin-top: 30px;
                }
            }
        }
    }
}
