@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$bg-color:#190040;
$text-color:#fbeaff;
$third-color:#00c9a7;
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans';
  scroll-behavior: smooth;
}
.wrap{
  width: 70%;
  margin:0px auto;
}
a{
  text-decoration: none;
  color:$text-color;
}
ul{
  li{
    list-style-type: none;
  }
}

